body{
    margin: 0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/*estilos para la sección Header (encabezado) */

header {
    background-color:beige;
    margin: 0%;
    padding: 0%;
}



.nav{
    list-style: none;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
   

}

.nav > li{
    display: inline-block;
    margin: 0%;
    padding: 20px 20px 20px 20px;
}

.equipo-link {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 20px 10px 20px 10px;
    
}  

.equipo-link:hover{
    color:beige;
    background-color: rgb(60, 60, 60);
    font-weight: bold;
}

.menu {
    font-size: 15px;
    transition: 0.5s;
}

.menu:hover{
    color:beige;
    background-color: rgb(60, 60, 60);
    font-weight: bold;
}



.social{
    float: right;
    list-style: none;
    text-align: end;

    
}

.social >ul > li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    opacity: 0.85;
}


.imagen-header{
    width: 100%;
    height: 300px;     
    overflow: hidden; 
}

.imagen-header > .banner {
    width: 100%;
    filter:blur(0.8px);  
    opacity: 0.85;  
    
}

.logo{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.mintic {
    border-radius: 10px;

}


/* estilos para la sección 4 (equipo) */

h3 {
    font-size: 16px;
    font-weight: bold;
}

.seccion4 {
    margin-top: 10px;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;    

}

.daniel{
    background-color: rgb(60, 60, 60);
    color: beige;
    border-style: groove;
    text-align: center;
}